{% extends "base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="../../student_home">Tutoria</a>
        <a href="javascript:void(0)"><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" id="mainNavBtn">
          <span class="navbar-toggler-icon"></span>
        </button></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="javascript:void(0)">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="javascript:void(0)">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="../../notification_center">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'logoutUser' %}?userID={{userID}}">Logout</a>
            </li>
            <li class="dropdown nav-item" id="studentMenu"><a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">Student Menu</a>
								<ul class="dropdown-menu">
									<li><a href="javascript:void(0)">Course History</a></li>
									<li><a href="../../wallet">Wallet</a></li>
									<li><a href="javascript:void(0)">Update Personal Info</a></li>
									<li><a href="../../cancel_booking">View/Cancel Booked Sessions</a></li>
									<li><a href="javascript:void(0)">Messenger</a></li>
								</ul>
							</li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead masthead-user">
      <div class="header-content-user" id="header_content">
        <div style="margin-right:0px;margin-left:0px;width:auto;">
          
        </div>
      </div>
    </header>
    
    <section>
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
              <i class="fa fa-4x fa-address-card-o text-primary"></i>
              <br><br>
              <h2 class="section-heading">{{ tutorName }}'s Profile</h2>
              <hr class="primary">
              
                <div class="sr-icons table-responsive" style="margin: auto;" align="left">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                       <tr>
                          <th width="20%">Name</th>
                          <td width="80%">{{ tutorName }}</td>
                        </tr>
                        <tr>
                          <th width="20%">Avatar</th>
                         <!--<td width="80%"><img src={% static 'media/{{tutorAvatar}}' %} width = "200"></td>-->
                          <td width="80%"><img src="/static/media/{{tutor.user.avatar}}" height = "300"></td>
                         <!--<td width="80%"><img src='{% static 'media/2_a.png' %}' width = "200"></td>-->
                          <!--<td width="80%"><img src="http://www.cs.hku.hk/'ckchui/kitty.png" width = "200"></td>-->
                        </tr>
                        <tr>
                          <th width="20%">University</th>
                          <td width="80%">{{ tutorUniversity }}</td>
                        </tr>
                        <tr>
                          <th width="20%">University courses</th>
                          <td width="80%">
                            <ul>
                            {% for course in courses %}
                                <li>{{ course.courseCode }} - {{ course.courseName }}</li>
                            {% endfor %}
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <th width="20%">Subject tags</th>
                          <td width="80%">
                            <ul>
                            {% for tag in tags %}
                                <li>{{ tag.tagName }}</li>
                            {% endfor %}
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <th width="20%">Biography</th>
                          <td width="80%">{{tutorBiography}}</td>
                        </tr>
                    </table>
                    <br>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="../../student_booking/{{tutorUserID}}" style="word-wrap:break-word;white-space:pre-wrap;">Book</a>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="javascript:void(0);" style="word-wrap:break-word;white-space:pre-wrap;">Message this tutor</a>
                </div>
               </div>
            </div>
            </div>
            
            </section>
            
    <section class="bg-light">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">        
                <i class="fa fa-4x fa-pencil-square-o text-primary"></i>
                <br>
                <br>
                <h3> Reviews to this tutor</h2>
                <hr class="primary">
                <div class="sr-icons table-responsive" style="margin: auto;">
                  {% if tutorReviews|length == 0 %}
                    <p>There are no reviews for {{ tutorName }} at this moment!</p>
                  {% else %}
                  {% for review in tutorReviews %}
                  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <tr>
                      <th width="20%">User</th>
                      {% if review.anonymous %}
                        <td width="80%"><i>Anonymous</i></td>
                      {% else %}
                        <td width="80%">{{ review.student.user.getFullName }}</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th width="20%">Session</th>
                      <td width="80%">{{review.booking.date}}, {{review.booking.startTime}} - {{review.booking.endTime}}</td>
                    </tr>
                    <tr>
                      <th width="20%">Rating</th>
                      <td width="80%">
                        {% if review.rating == null %}
                          No ratings
                        {% else %}
                          <div class="star-ratings-sprite">
                            <span style="width:{% widthratio review.rating 1 20 %}%" class="star-ratings-sprite-rating"></span>
                          </div>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <th width="20%">Comment</th>
                      <td width="80%">{{ review.comment }}</td>
                    </tr>
                  </table>
                  
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
    </section>

    {% endblock %}

    {% block javascriptinside %}
    <script>
    $("#add-coins-btn").on("click", function() {
            console.log("you clicked me!!");
    });
    scheduler.attachEvent("onClick", function (id,event){
        var event = scheduler.getEvent(id);
        if(event.isFull == false && event.isPassed == false) {
          $("#eventID").val(event.id);
          $("#time_popup").text(event.start_date + ' - ' + event.end_date);
          $("#university_popup").text(event.university);
          $("#tutor_popup").text(event.tutorName);
          var totalPayment = parseInt(event.tutorHourlyRate) + parseInt(event.tutorHourlyRate)*0.05;
          $("#payment_popup").text(event.tutorHourlyRate + ' (+5%) = $' + totalPayment.toString());
          $( "#dialog-form" ).dialog();
        }
        return true;
      });
      
      //var transDesc = document.getElementById("trans-desc");
      //transDesc.innerHTML = "All about cats";
    
    
      $("#admin_login_link").hover(function() {
        $(this).css("color", "#f05f40");
      }, function(){
        $(this).css("color", "rgba(255,255,255,.3)");
      });
      

      /*if($(window).width() < 992) {
        $("#sidebar").hide();
        $("#studentMenu").show();
      }else{
        $("#sidebar").show();
        $("#studentMenu").hide();
      }
      $("#sidebar").hide();
      $("#header_content").css("right", $("#sidebar_content").width()+18+10);*/
      
      //$(".masthead-user").css("min-height", $("#search_bar_form_group").height()+130);
      $(window).resize(function() {
        
        /*if($(window).width() < 992) {
          $("#sidebar").hide();
          $("#studentMenu").show();
        }else{
          $("#sidebar").show();
          $("#studentMenu").hide();
        }
        $("#header_content").css("right", $("#sidebar_content").width()+18+10);*/
        //$(".masthead-user").css("min-height", $("#search_bar_form_group").height()+130);
      });
      
      
    	$(document).ready(function(){
    		$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
    			event.preventDefault(); 
    			event.stopPropagation(); 
    			$(this).parent().siblings().removeClass('open');
    			$(this).parent().toggleClass('open');
    		});
    		$('#example').DataTable({searching: true, ordering: false, responsive: true});
    	});
    	
    </script>
    {% endblock %}
